@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Shippori+Antique&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #75a3e8;
}

.App{
  background-color: rgb(53, 64, 124);
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  color: white;
  box-shadow: 10px 10px 30px 3px rgb(87, 100, 175);
  ;
}

.score-section{
  padding-left: 40px;
  width: 70%;
  margin: auto;
  font-size: 1.8rem;
  font-family: 'Shippori Antique', sans-serif;
  font-style: italic;
  margin-bottom: 10px;
}
.restartBtn{
  margin-left: -0px;
  margin-top: 50px;
  justify-content: center;
}

.recorded-score{
  width: 300px;
  font-style: italic;
  font-size: 1.2rem;

}

.question-section{
  width: 50%;
  margin-bottom: 60px;
}
.question-count{
  font-family: 'Shippori Antique', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style:normal;
}

.question-count span{
  font-size: 1rem;
}

.question-text{
  font-size: 1.1rem;
  font-family: 'Crimson Text', serif;
  height: 100px;
  letter-spacing: .5px;
}

.answer-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

button{
  padding: .4rem .7rem;
  width: 200px;
  margin: 10px auto;
  border-radius: 30px;
  outline: none;
  border: 3px solid rgb(63, 72, 122);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: rgb(42, 51, 99);
  color: white;
  box-shadow: 2px 2px 5px 0px rgb(24, 31, 71);
}

button:hover{
  background-color: rgb(24, 31, 71);
}

